---
// TODO: Build + style posts in /blog/[slug].astro
import type { SanityDocument } from '@sanity/client'
import { sanityClient } from 'sanity:client'
import BlogCard from '../components/ui/BlogCard.astro'
import PageHeader from '../components/ui/PageHeader.astro'
import Subscribe from '../components/ui/Subscribe.astro'
import Layout from '../layouts/Layout.astro'

const posts = (await sanityClient.fetch(
  `*[_type == "post"] | order(publishedAt desc)`
)) as SanityDocument[]

const newestPost = posts[0]
const recentPosts = posts.slice(1, 4)
const remainingPosts = posts.slice(4)
---

<Layout
  title="Power Passenger Passage | Blog"
  description="Explore insights and resources designed to guide women on their personal healthcare journey. From finding peace in pregnancy to reclaiming control of your well-being, our blog is here to inspire, inform, and empower."
>
  <PageHeader
    title='<span class="font-bold text-xl text-red-900">Empower</span> Your Healthcare Journey'
    subtitle="Explore insights and resources designed to guide women on their personal healthcare journey. From finding peace in pregnancy to reclaiming control of your well-being, our blog is here to inspire, inform, and empower."
  >
    <Subscribe class="mx-auto" />
  </PageHeader>

  <main class="bg-gradient-to-b from-white to-tan-100">
    <section id="recent-blog-posts" class="container-lg">
      <h2 class="mb-8">Recent Blog Posts</h2>

      <div class="grid lg:grid-cols-2 gap-12">
        <BlogCard
          image={newestPost.mainImage}
          imageAlt={newestPost.mainImage.alt}
          dateAndReadTime={`${new Date(newestPost.publishedAt).toLocaleDateString('en-US', {
            month: 'long',
            day: 'numeric',
            year: 'numeric',
          })} • 3 min read`}
          title={newestPost.title}
          text={newestPost.description}
        />

        <div class="flex flex-col gap-12">
          {
            recentPosts.map((post) => (
              <BlogCard
                image={post.mainImage}
                imageAlt={post.mainImage.alt}
                dateAndReadTime={`${new Date(post.publishedAt).toLocaleDateString('en-US', {
                  month: 'long',
                  day: 'numeric',
                  year: 'numeric',
                })} • 3 min read`}
                title={post.title}
                text={post.description}
                isRow={true}
              />
            ))
          }
        </div>
      </div>
    </section>

    <section id="all-blog-posts">
      <div class="container-lg">
        <h2 class="mb-8">All Blog Posts</h2>

        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-12">
          {
            remainingPosts.map((post) => (
              <BlogCard
                image={post.mainImage}
                imageAlt={post.mainImage.alt}
                dateAndReadTime={`${new Date(post.publishedAt).toLocaleDateString('en-US', {
                  month: 'long',
                  day: 'numeric',
                  year: 'numeric',
                })} • 3 min read`}
                title={post.title}
                text={post.description}
              />
            ))
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
