---
import type { SanityDocument } from '@sanity/client'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import { sanityClient } from 'sanity:client'
import emmieOneSquareImage from '../assets/emmie-1-square.png'
import emmieOneImage from '../assets/emmie-1.png'
import emmieTwoImage from '../assets/emmie-2.png'
import momOneImage from '../assets/mom-1.png'
import CTA from '../components/text/CTA.astro'
import SectionHeader from '../components/text/SectionHeader.astro'
import IconCard from '../components/ui/IconCard.astro'
import ImageAndText from '../components/ui/ImageAndText.astro'
import PageHeader from '../components/ui/PageHeader.astro'
import RecentPosts from '../components/ui/RecentPosts.astro'
import Layout from '../layouts/Layout.astro'

const posts = (await sanityClient.fetch(
  `*[_type == "post"] | order(publishedAt desc)`
)) as SanityDocument[]
const recentPosts = posts.slice(0, 3)
---

<Layout
  title="Power Passenger Passage"
  description="Life coaching for preconception, pregnancy, and beyond. Experience your BEST pregnancy with life coaching."
>
  <PageHeader
    title='<span class="font-bold text-xl text-red-900">Life Coaching</span> for Preconception, Pregnancy, and Beyond'
    subtitle="Experience your BEST pregnancy with life coaching."
    image={momOneImage}
    imageAlt="A mom with her baby in the woods"
  >
    <CTA type="link" href="/contact#schedule" text="Book a Free Call" class="m-auto md:m-0" />
  </PageHeader>

  <main>
    <section id="introduction">
      <ImageAndText
        image={emmieTwoImage}
        imageAlt="Emmie Strassberg"
        title="About Emmie Strassberg"
        text="I am a life coach, mother, double board certified OBGYN and Maternal-Fetal Medicine specialist. In my work as a high risk pregnancy doctor, I regularly see women struggle with anxiety and uncertainty that come up during pregnancy. Past pregnancies, medical conditions, family circumstances, work and current pregnancy concerns can all be overwhelming at times. If this is you, I can show you how to manage your thinking and create the pregnancy experience you desire."
      >
        <CTA type="link" href="/about" text="Read More" />
      </ImageAndText>
    </section>

    <section id="benefits" class="flex flex-col gap-20 bg-gradient-to-b from-white to-tan-100">
      <SectionHeader
        title="Benefits of Pregnancy Coaching"
        class="max-w-96 items-center mx-auto text-center"
      />
      <!-- Icon Cards -->
      <div class="flex flex-wrap items-center justify-center mx-auto w-full max-w-6xl">
        <IconCard
          title="Empowerment"
          text="Be the authority in your own life"
          icon="mood-heart"
          class="lsa lsa-slide-up no-repeat delay-100"
        />
        <IconCard
          title="Consultation"
          text="Deal with the fear and uncertainties that come up around pregnancy"
          icon="friends"
          class="lsa lsa-slide-up no-repeat delay-200"
        />
        <IconCard
          title="Intention"
          text="Create the intentional experience you desire"
          icon="checkup-list"
          class="lsa lsa-slide-up no-repeat delay-300"
        />
      </div>

      <!-- Testimonials -->
      <div class="container-md grid md:grid-cols-2 gap-8 text-center md:text-left">
        <h3 class="text-lg md:max-w-56 lsa lsa-slide-up no-repeat delay-500">
          From <span class="text-lg text-red-900 font-bold">Our Community</span>
        </h3>

        <blockquote class="relative px-4 md:px-0 lsa lsa-slide-up no-repeat delay-700">
          <span class="absolute -top-8 left-0 md:-top-12 md:-left-4 text-2xl text-red-900">“</span>
          <p class="mb-4">
            <em>
              I had a great experience with Emmie Strassberg during my coaching sessions. I went
              through 5 rounds of Intrauterine insemination and three rounds of In vitro
              fertilization which resulted in one miscarriage and one successful pregnancy. Emmie's
              support was crucial in the process. It was an emotional experience and having a life
              coach was very helpful.
            </em>
          </p>
          <cite> - MG</cite>
          <span class="absolute -bottom-8 right-0 md:-right-4 text-2xl text-red-900">”</span>
        </blockquote>
      </div>
    </section>

    <section id="recent-blog-articles" class="bg-gradient-to-b from-tan-100 to-white">
      <RecentPosts
        title='<span class="font-bold text-lg text-red-900">Stay Informed</span> With Our Recent Blog Articles'
        posts={recentPosts}
      />
    </section>

    <section id="cta" class="bg-gradient-to-b from-white to-tan-100 lsa no-repeat">
      <div
        class="container-sm relative overflow-hidden p-8 md:pl-8 md:pt-0 md:pb-0 md:pr-0 grid grid-rows-[auto_1fr] sm:grid-rows-1 md:grid-cols-[2fr_1fr] md:items-center gap-8 bg-white border rounded-3xl drop-shadow-sm"
      >
        <!-- Mobile Image -->
        <div class="block md:hidden max-w-32 justify-self-end">
          <Icon name="circle" class="absolute -bottom-20 -right-20 w-48" />
          <Image src={emmieOneSquareImage} alt="Emmie Strassberg" class="border rounded-full" />
        </div>

        <SectionHeader
          title='Schedule Your <span class="font-bold text-lg text-red-900">Free Consultation</span> Now'
          class="items-start"
        >
          <div class="lsa lsa-slide-up delay-100 no-repeat">
            <CTA type="link" href="/contact#schedule" text="Book Now" />
          </div>
        </SectionHeader>

        <!-- Desktop Image -->
        <div class="hidden md:block relative">
          <Icon name="circle" class="absolute -left-1/3 top-1/2 transform -translate-y-1/2 w-48" />
          <Image src={emmieOneImage} alt="Emmie Strassberg" class="rounded-none border-l-[1px]" />
        </div>
      </div>
    </section>
  </main>
</Layout>
