---
// TODO: add  `/blog/${createSlug(title)}` to the link
import type { SanityAsset } from '@sanity/image-url/lib/types/types'
import { createEllipsisText } from '../../sanity/lib/text'
import { urlFor } from '../../sanity/lib/urlFor'

export interface Props {
  image: SanityAsset
  imageAlt: string
  dateAndReadTime: string
  title: string
  text?: string
  isRow?: boolean
  class?: string
}

const { image, imageAlt, dateAndReadTime, title, text, isRow, class: className } = Astro.props
---

<article class={`${className} w-full lsa lsa-slide-up no-repeat`}>
  <a class:list={['grid items-center gap-4 group', { 'md:grid-cols-2': isRow }]} href="#">
    <img
      src={urlFor(image).format('webp').url()}
      alt={imageAlt}
      class="aspect-square object-cover"
    />

    <div class="flex flex-col gap-4">
      <span>{dateAndReadTime}</span>
      <h3 class="text-base group-hover:text-red-900 transition">
        {title}
      </h3>

      {text && <p>{createEllipsisText(text, 100)}</p>}
    </div>
  </a>
</article>
