---
import { Picture } from 'astro:assets'

export interface Props {
  image: ImageMetadata
  imageAlt: string
  dateAndReadTime: string
  title: string
  text?: string
  isRow?: boolean
  class?: string
}

const { image, imageAlt, dateAndReadTime, title, text, isRow, class: className } = Astro.props
---

<article class={`${className} w-full lsa lsa-slide-up no-repeat`}>
  <a class:list={['grid items-center gap-4 group', { 'md:grid-cols-2': isRow }]} href="/">
    <Picture src={image} alt={imageAlt} />

    <div class="flex flex-col gap-4">
      <span>{dateAndReadTime}</span>
      <h3 class="text-base group-hover:text-red-900 transition">
        {title}
      </h3>

      {text && <p>{text}</p>}
    </div>
  </a>
</article>
